<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>RPI - Chat</title>

    <link href="/contrib/ionic.css" rel="stylesheet">
    <script src="/contrib/ionic.bundle.js"></script> 
    <script src="/socket.io/socket.io.js"></script>

    <script src="/main.js"></script> 
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>

    <ion-pane ng-controller="PageCtrl">
      <ion-content class="padding">
        <ol class="messages">
          <li class="log">{{numUsers}} participant(s)</li>
          <li ng-repeat="message in messages" ng-class="{me: message.username == username}">
            <p class='username'>{{message.username}}</p> 
            <p class="message" ng-if="message.type === 'text'">
              {{message.content}} 
            </p>
          </li>
        </ol>
      </ion-content>

      <form class="bar bar-footer bar-stable item-input-inset" ng-submit="add(message)">
        <label class="item-input-wrapper">
          <input type="search" placeholder="New Message" ng-model="message" on-return="add(message)">
        </label>
        <input type="submit" class="button button-clear" value="Send" />
      </form>
    </ion-pane>
    
  </body>
</html>
